html, body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  max-width: 1000px;
  height: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
/*  justify-content: space-around;*/
}

.back {
  position: absolute;
  top: 8vh;
  left: 5vh;
  padding: 5px;
  border-radius: 50%;
  transition: background-color .2s ease-out;
  cursor: pointer;
  display: none;
}

.back:hover {
  background-color: #EEE;
}

.back .material-icons {
  font-size: 2.2rem;
}

.menu {
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.menu-box {
  height: inherit;
  display: inherit;
  align-items: center;
}

.menu-box-inner {
  max-width: 600px;
}

.menu-box-buttons {
  display: flex;
  flex-wrap: nowrap;
}

.menu-box-buttons .btn {
}

.menu-input-form {
  display: none;
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
}

.menu-box-buttons .menu-btn {
  width: 200px;
  height: 100px;
  line-height: 100px;
  margin: 2px;
  padding: 0;
  color: #FFF;
  transition: .1s ease;
  background-color: #26A69A;
}

.menu-box-buttons .menu-btn:hover {
  background-color: #2BBBAD;
}

#descricao, #dados_observados {
  width: 60vw;
  min-width: 500px;
}

