html, body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #EFEFEF;
}

.add-reg-container {
 height: 100%;
 width: 100%;
}

.container {
  max-width: 1000px;
  height: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.back {
  position: absolute;
  top: 8vh;
  left: 5vh;
  padding: 5px;
  border-radius: 50%;
  transition: background-color .2s ease-out;
  cursor: pointer;
  display: none;
}

.back:hover {
  background-color: #FFF;
}

.back .material-icons {
  font-size: 2.2rem;
}

.add-reg-heading .hasDatepicker {
  width: 5em;
  display: inline-block;
  font-size: inherit !important;
}

.menu {
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.menu-box {
  height: inherit;
  display: inherit;
  align-items: center;
}

.menu-box-inner {
  max-width: 750px;
}

.menu-box-buttons {
  display: flex;
/*  flex-wrap: nowrap;*/
}

.menu-box-buttons .btn {
}

.menu-input-form {
  display: none;
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
}

.menu-box-buttons .menu-btn {
/*
  width: 200px;
  height: 100px;
*/
  min-width: 210px;
  height: 100px;
/*  height: auto !important;*/
  padding: 0px 35px !important;
/*  line-height: normal !important;*/
  line-height: 100px;
  text-align: center !important;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 2px;
/*  white-space: normal;*/
  color: #FFF;
  transition: .1s ease;
  background-color: #26A69A;
}

.menu-box-buttons .menu-btn:hover {
  background-color: #2BBBAD;
}

.menu-input-table {
  table-layout: fixed;
}

textarea {
  padding: 1.8em 1em !important;
}

#descricao, #dados_observados, #info-gerais {
  width: 60vw;
  min-width: 500px;
}

#info-gerais textarea {
  height: 150px;
}

@media only screen and (max-width: 576px) {
  .back .material-icons {
    font-size: 1.7rem;
  }

}
