html, body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: #EFEFEF;
}

.add-reg-container {
 height: 100%;
 width: 100%;
}

.inner-container {
  max-width: 1000px;
  height: 100%;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

.back {
  margin-top: 2.2rem;
  width: 35px;
  height: 35px;
  border: 0;
  border-radius: 50%;
  transition: background-color .2s ease-out;
  cursor: pointer;
  opacity: 0;
  visibility: none;
  transition: opacity .3s;
}

.back.active {
  visibility: visible;
  opacity: 1;
}

.back:hover {
  background-color: #FFF;
}

.back .material-icons {
  font-size: 2.2rem;
}

.add-reg-heading .hasDatepicker {
  width: 5em;
  display: inline-block;
  font-size: inherit !important;
}

.menu {
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.menu-box {
  height: inherit;
  display: inherit;
  align-items: center;
}

.menu-box-inner {
  max-width: 750px;
}

.menu-box-buttons {
  display: flex;
}

.menu-input-form {
  position: absolute;
  max-width: 800px;
  opacity: 0;
  visibility: none;
  display: none;
  transition: opacity .3s;
  z-index: -1;
}

.menu-input-form.active {
  position: relative;
  opacity: 1;
  visibility: visible;
  display: block;
  z-index: 1;
}

.menu-box-buttons .menu-btn {

  min-width: 210px;
  height: 100px;
  padding: 0px 35px !important;
  line-height: 100px;
  text-align: center !important;
  vertical-align: middle;
  box-sizing: border-box;
  margin: 2px;
  color: #FFF;
  transition: .1s ease;
  background-color: #26A69A;
}

.menu-box-buttons .menu-btn:hover {
  background-color: #2BBBAD;
}

.menu-input-table {
  table-layout: fixed;
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
}

textarea {
  padding: 1.8em 1em !important;
}

#descricao, #dados_observados, #info-gerais {
  width: 60vw;
  min-width: 500px;
}

#info-gerais textarea {
  height: 150px;
}

.menu-input-title {
  border: 1px solid #EBEBEB;
  background-color: #F5F5F5;
}

@media only screen and (max-width: 576px) {
  .back {
    width: 29px;
    height: 38px;
    text-align: center;
    padding: 2px;
  }
  
  .back .material-icons {
    font-size: 1.7rem;
  }
  
  .menu-box {
    display: block;
  }

  #descricao, #dados_observados, #info-gerais {
    width: 90vw;
    min-width: unset;
  }

  .input-table-time {
    font-size: 1.3rem;
  }

}
