.navbar {
  margin-bottom: 0;
}

.content-wrapper {
  width: 100%;
  margin-bottom: 0;
  margin-top: -20px;
  background-color: #F5F5F5;
}

.navbar {
  border-radius: 0;
}

.table {
  margin-top:40px;
  box-shadow: 1px 1px 4px 2px #DDD;
  box-sizing: border-box;
  background-color: #FFF;
  }

.table, .table td {
  border: 1px solid #DDD;
  box-sizing: border-box;
}

th {
  text-align: center;
  background-color: #F2F2F2;
}
/*table.table-bordered > thead > tr > th{
    border:1px solid blue;
}
table.table-bordered > tbody > tr > td{
    border:1px solid blue;
}

table.table-bordered > tbody > tr {
    border:1px solid blue;
}*/

.reg-form {
  width: 300px;
  margin: auto;
  text-align: center;
}

.input-btn-wrap label {
  display: block;
}

.input-btn-wrap .inputBtn {
  width: 140px;
  margin:auto;
  border-radius: 0;
}

.hora, .categoria {
  display: none;
}

[id$="Z"] {
  visibility: hidden;
  position: absolute;
}

.hide {
  display: none;
}

.img-cancel, .send-img, .update-text, .update-cancel, .edit-text {
  display: none;
}

.img-wrap {
  width: 250px;
  max-height: 300px;
  position: relative;
  margin: auto;
}

.img-width {
  width: 250px;
}

.img-del {
  display: none;
  position: absolute;
  bottom: 5px; right: 50%;
  z-index: 2;
  color: #AAA;
}

.img-del:hover {
  cursor: pointer;
  color: #DDD;
}

.img-del webicon {
  height: 20px;
}

.cancel-upload {

}

.cancel-upload:hover {
  cursor: pointer;
}

.system-tags {
  border: 1px solid #DDD;
  box-shadow: 1px 1px 4px 2px #DDD;
  padding-bottom: 15px;
  background-color: #FFF;
}

.system-tags .header {
  height: 40px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  background-color: #F5F5F5;
  border-bottom: 1px solid #DDD;
}

.system-tags .fenom-box {
  padding: 15px;
}

.system-tags .fenom-box .fenom {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #EEE;
  border-radius: 6px;
}

.system-tags .fenom-box .fenom:hover {
  background-color: #B1E7F7;
}
.system-tags .fenom-box .fenom input {
  position: absolute;
  opacity: 0;
}

.checkmark {
  display: inline-block;
  padding: 5px;
  border-radius: inherit;
}

.fenom input:checked ~ .checkmark {
  background-color: #327FF2;
  color: #FFF;
}

.system-tags .send-fenomenos {
/*  position: absolute;*/
  border: 1px solid #DDD;
/*  bottom: 0; right: 50%;*/
}

.system-tags .btn-wrap {
  text-align: center;
}

.home-container {
  height: 100%;
  width: 100%;
  background-color: #eee;
  margin-top: -70px;
}

.home-container .search-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.home-container .btn {
  padding: 15px;
  text-align: center;
}

.home-container .search-wrap i {
  font-size: 15px;
}
.home-container .search-wrap i.fa-plus {
  color: #4CAF50;
}

.home-container .search-wrap i.fa-search {
  color: #2196F3;
}
