.navbar{
  border-radius: 0;
}

.table-bordered{
    margin-top:40px;
  }

th{
  text-align: center;
  background-color: #F5F5F5;
}
/*table.table-bordered > thead > tr > th{
    border:1px solid blue;
}
table.table-bordered > tbody > tr > td{
    border:1px solid blue;
}

table.table-bordered > tbody > tr {
    border:1px solid blue;
}*/

.hora, .categoria {
  display: none;
}

[id$="Z"] {
  visibility: hidden;
  position: absolute;
}

.foto_item {
  width: 150px;
  height: 200px;
  float: left;
  text-align: center;
  margin-right: 10px;
}

.foto_item img {
  width: 150px;
}

.cancel-upload {

}

.cancel-upload:hover {
  cursor: pointer;
}
