.navbar {
  border-radius: 0;
}

.table-bordered {
    margin-top:40px;
  }

th {
  text-align: center;
  background-color: #F5F5F5;
}
/*table.table-bordered > thead > tr > th{
    border:1px solid blue;
}
table.table-bordered > tbody > tr > td{
    border:1px solid blue;
}

table.table-bordered > tbody > tr {
    border:1px solid blue;
}*/

.hora, .categoria {
  display: none;
}

[id$="Z"] {
  visibility: hidden;
  position: absolute;
}

.img-wrap {
  width: 250px;
  height: 300px;
  position: relative;
}

.img-width {
  width: 250px;
}

.img-del {
  position: absolute;
  top: 1px; right: 3px;
  z-index: 2;
  color: #DDD;
  font-size: 18px;
}

.img-del:hover {
  cursor: pointer;
}

.cancel-upload {

}

.cancel-upload:hover {
  cursor: pointer;
}
